includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
  strictRules:
    allRules: false
    switchConditionsMatchingType: true
    disallowedBacktick: true
    strictFunctionCalls: true
    dynamicCallOnStaticMethod: true
  reportUnmatchedIgnoredErrors: false
  checkGenericClassInNonGenericObjectType: false
  level: 9
  paths:
    - src