parameters:
	ignoreErrors:
		-
			message: '#^Function Symfony\\Component\\DependencyInjection\\Loader\\Configurator\\service_locator not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/Provider/DependencyInjection/DynamicParameterCompilerPass.php

		-
			message: '#^Used function Symfony\\Component\\DependencyInjection\\Loader\\Configurator\\service_locator not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/Provider/DependencyInjection/DynamicParameterCompilerPass.php

		-
			message: '#^Variable \$fields in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Resolve/Handler/EntityPropertyHandler.php
